.option-body {
    width: 180px;
    padding: 0;
}
.option-popover-hover {
    max-height: min((100vh - 96px) - 60px, 734px);
    padding: 0px 2px 12px 0px;
    font-size: 16px;
    line-height: 21px;
}

.option-item {
    width: 100%;
    justify-content: left;
    font-weight: 500;
    margin-left: 0px !important;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
