.wrapper {
    width: 592px;
    height: 764px;
    display: flex;
    position: relative;
    padding: 20px 0;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.content {
    display: flex;
    flex-direction: column;
}
.box-user {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.upload-by-user {
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 16px;
    font-weight: 400;
}

.following-btn {
    position: relative;
}

.music-icon {
    font-size: 14px;
    margin-right: 6px;
}
.music {
    display: flex;
    width: 100%;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }
}
.gps-icon {
    font-size: 14px;
}
.gps {
    background-color: rgba(22, 24, 35, 0.03);
    display: flex;
    width: 100%;
    height: 21px;
    margin: 2px 0;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px 6px;
    flex-wrap: wrap;

    &:hover {
        text-decoration: underline;
    }
}
.box-video {
    overflow: hidden;
    border-radius: 10px;
}

.content-video {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    position: relative;
}
.video {
    width: 524px;
    height: 619px;
    margin-left: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.interact-video {
    width: 48px;
    height: 312px;
    position: absolute;
    right: 80px;
    left: 350px;
}
.username {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        .nickname {
            text-decoration: underline;
        }
    }
}
.nickname {
    font-size: 18px;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    margin-left: 6px;
    font-size: 14px;
}
