.wrapper {
    width: 962px;
    height: 161px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: space-around;
    padding-top: 10px;
    overflow-x: scroll;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.stream {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
}
.wrapper-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.avatar-live {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    ::after {
        content: '';
        position: absolute;
        inset: 1px;
        border-radius: 50%;
        border: 1px solid rgba(255, 119, 146, 0.5);
        animation: 1800ms ease-out 0s infinite normal none running borderAnimation;
        box-shadow: rgba(255, 119, 146, 0.5) 0px -0.5px 0.5px 0.5px;
    }
}

.border-avatar {
    width: 52px;
    height: 52px;
    border: 1.5px solid #f92577;
    border-radius: 50%;
    position: absolute;
}
.live-arrow-avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    border-radius: 50%;
    border-color: rgba(22, 24, 35, 0.12);
    border-width: 0.5px;
    cursor: pointer;
    background-color: rgba(136, 136, 136, 0.5);
    animation: 1800ms ease-out 0.9s infinite normal none running backgroundAnimation;
}
@keyframes backgroundAnimation {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.95);
    }
}
@keyframes borderAnimation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.15);
    }
    45% {
        transform: scale(1.17);
    }
    50% {
        transform: scale(1.19);
    }
    55% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.23);
    }
    65% {
        transform: scale(1.25);
    }
    95% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}
.note {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    background: linear-gradient(131.17deg, rgb(255, 23, 100) 0%, rgb(237, 52, 149) 94.15%);
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 15px;
    line-height: 16px;
    padding: 0px 4px;
    bottom: -2px;
    border-radius: 2px;
    &::after {
        content: none;
    }
}

.nickname {
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name {
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    max-width: 88px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// @media screen and (max-width: 1504px) {
//     .wrapper {
//         width: calc(100vw - 524px);
//     }
// }
